$main-clor: #A0C49D;
$second-color: #C4D7B2;
$light-green-color: #E1ECC8;
$dark-green-color: #78925f;
$light-color: #F7FFE5;
$pure-white: #fff;
$btn-color: #E01F4D;
$btn-second-color: #E01F4D;
$dark: #333;
$img-shadow: rgba(0, 0, 0, 0.8)