@use "./colors";
@use "./components";
@use "./mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

.sticky-body {
	overflow: hidden;
}

// NAV
.burger-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 1em 2em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	i {
		font-size: 3rem;
		color: #000;
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
}

.nav {
	&-mobile {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		transform: translateX(100%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		background-color: colors.$dark;
		font-size: 2.8rem;
		z-index: 100;
	}

	&-desktop {
		display: none;
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em;
		padding: 0.3em 0.4em;
		font-size: 2.8rem;
		color: colors.$pure-white;
		text-align: center;
		text-decoration: none;

		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: colors.$pure-white;
			transform: scaleX(0);
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}
}

.show {
	transform: translateX(0);
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: colors.$pure-white;
	@include mixins.heroImg("../img/header-img_640.jpeg");
	background-attachment: scroll;

	&__title {
		font-size: 4.8rem;
		font-weight: 300;
	}

	&__text {
		margin-top: 0.5em;
		font-size: 2.4rem;
	}

	&__btn {
		margin-top: 3em;
		padding: 0.8em 1.6em;
		background-color: colors.$dark;
		border-radius: 8px;
		color: colors.$pure-white;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: colors.$gray;
		}
	}
}

// ABOUT US
.about-us {
	&.section-padding {
		padding: 6em 1em;
	}

	&__box {
		padding: 0.5em 1em;
	}

	&__header {
		font-size: 2.8rem;
		margin-bottom: 0.5em;
	}

	&__text {
		padding: 0.2em 0.4em;
		line-height: 20px;
	}
}

// SERVICES
.services {
	background-color: colors.$dark;

	h2 {
		color: colors.$pure-white;
	}

	&__cards {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	&__card {
		margin: 2em 1em;
		padding: 2em;
		height: 400px;
		width: 300px;
		border-radius: 8px;
		background-color: colors.$pure-white;
		transition: transform 0.3s;

		&-title {
			// margin-bottom: 0.5em;
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
		}

		hr {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		p {
			padding: 0.5em 1em;
			margin: 0.8em;
			text-align: center;
		}

		span {
			padding: 0 0.5em;
			font-size: 1.6rem;
			font-weight: bold;
		}

		.price-tag {
			margin-top: 3em;
			// margin-bottom: 1em;
			font-size: 2.4rem;
			text-align: center;
			font-weight: bold;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
}

// CONTACT
.contact {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		&-item {
			margin: 1.5em 0;
			a {
				text-decoration: none;
			}

			i {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 4rem;
				color: #000;
				transition: color 0.3s;

				&:hover {
					color: colors.$dark-green-color;
				}
			}

			&-info {
				margin-top: 1em;
				font-size: 2rem;
			}
		}
	}
}

// FOOTER
.footer {
	background-color: colors.$dark;

	&__bottom-text {
		padding: 2em;
		text-align: center;
		color: colors.$pure-white;
	}
}

@media (min-width: 576px) {
	.burger-btn {
		top: 20px;
		right: 20px;
	}

	.about-us {
		&__box {
			padding: 0;
		}

		&__text {
			padding: 0.8em 1.6em;
			line-height: 30px;
		}
	}

	.services {
		&__card {
			span {
				font-size: 1.8rem;
			}
		}
	}

	.contact {
		&__box {
			&-item {
				i {
					font-size: 6rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.nav {
		&-desktop {
			position: fixed;
			top: 0;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 10vh;
			width: 100%;
			transform: translateX(100%);
			transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
			background-color: transparent;
			font-size: 2.8rem;
			z-index: 100;
			transform: translate(0);
		}

		&-mobile {
			display: none;
		}

		&__logo {
			display: block;
			position: absolute;
			top: 30px;
			left: 40px;
			margin-left: 3em;
			text-transform: uppercase;

			a {
				text-decoration: none;
				color: colors.$pure-white;
			}
		}

		&__item {
			display: inline-block;
			color: colors.$pure-white;

			&:last-child {
				margin-right: 2em;
			}
		}
	}

	.shadow-bg {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.header {
		background-image: colors.$img-shadow2, url("../img/header-img_1920.jpeg");
	}

	.contact {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			i {
				font-size: 8rem;
			}
		}
	}
}

@media (min-width: 1100px) {
	.nav {
		&__item {
			&:last-child {
				margin-right: 3em;
			}
		}
	}

	.services {
		&__card {
			width: 30%;
		}
	}

	.contact {
		&__box {

			i {
				font-size: 10rem;
			}
		}
	}
}
