@use "./colors";
@use "./components";
@use "./mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 40px;
	padding: 1em 2em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	i {
		font-size: 3rem;
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: colors.$dark-green-color;
	font-size: 2.8rem;
	z-index: 100;

	&__item {
		position: relative;
		display: block;
		margin: 0.5em;
		padding: 0.3em 0.4em;
		font-size: 2.8rem;
		color: colors.$pure-white;
		text-align: center;
		text-decoration: none;

		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: colors.$pure-white;
			transform: scaleX(0);
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleX(1);
		}

		// &:last-child {
		// 	margin-right: 3em;
		// }
	}
}

.show {
	transform: translateX(0);
}

// @media(min-width: 992px) {
// 	.nav {

// 	}
// }